* {
  box-sizing: border-box;
  padding: 30px;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 25px;
}
section {
  height: 200px;
  width: 200px;
  background-color: lightblue;
}
p {
  height: 300px;
  width: 200px;
  background-color: lightpink;
}
img {
  height: 400px;
}
